.pagination {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination li {
    margin: 0 5px;
}

.pagination li button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination li button:hover {
    background-color: #0056b3;
}

.pagination li.active button {
    background-color: #0056b3;
}
