/* src/components/investment/investmentList.css */

.investment-list-container {
    width: 100%;
    max-width: 80%;
    padding: 20px;
}

.investment-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #e6e6e6;
}

.investment-list-header h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.investment-list-content {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.investment-list-content li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #e6e6e6;
}

.button-common-add {
    padding: 6px 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    position: fixed;
    top: 30px;
    right: 150px;
}


.button-common-add:hover {
    background-color: #0056b3; /* Darker shade of orange on hover */
}

.investment-list-table {
    width: 100%;
    border-collapse: collapse;
}

.investment-list-table td {
    border: 1px solid #ccc;
    padding: 5px; /* Adjusted padding for cells */
    background-color: #f2f2f2; /* Subtle grey background color for table rows */
}

.investment-list-table th {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #333; /* Dark background color for table header */
    color: #fff; /* White text color for table header */
    font-weight: bold;
    text-align: center;
}

.investment-list-table tr:hover td {
    background-color: #dcdcdc; /* Darker background color on hover */
}


/* Modal Styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
    margin-top: 0;
}

.modal-content label {
    display: block;
    margin-bottom: 5px;
}

.modal-content input,
.modal-content select {
    width: calc(100% - 10px); /* Adjusted width to accommodate padding */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-content button {
    padding: 10px 50px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.modal-content button:last-child {
    margin-right: 0;
}

.modal-content button:hover {
    background-color: #0056b3;
}

/* Define colors for different categories */
.type-stocks { background-color: #ffe0b2; }
.type-savings { background-color: #b2ebf2; }
.type-bonds { background-color: #b2dfdb; }
.type-real_estate { background-color: #ffcc80; }
.type-401k { background-color: #f48fb1; }
.type-mutual_funds { background-color: #c5e1a5; }
/* Add more categories as needed */

/* Tag Styles */
.type-tag {
    display: inline-block;
    padding: 3px 8px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
}

.tag-icon {
    font-size: 10px;
    margin-right: 5px;
}

/* Table Row Colors */
tr.type-stocks { background-color: #ffe0b2; }
tr.type-savings { background-color: #b2ebf2; }
tr.type-bonds { background-color: #b2dfdb; }
tr.type-real_estate { background-color: #ffcc80; }
tr.type-401k { background-color: #f48fb1; }
tr.type-mutual_funds { background-color: #c5e1a5; }
/* Add more type-specific row colors as needed */


/* ExpenseButtons.module.css */

.button-common {
    padding: 6px 10px;
    font-size: 16px;
    background-color: #666; /* Subtle shade of grey */
    color: #fff;
    border: none;
    border-radius: 20px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.button-common:hover {
    background-color: #0056b3;
}